name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.16.x, 1.17.x, tip]
        full-tests: [false]
        include:
          - go-version: 1.18.x
            full-tests: true

    runs-on: ubuntu-latest

    steps:
      - name: Setup go
        run: |
          curl -sL https://raw.githubusercontent.com/maxatome/install-go/v3.3/install-go.pl |
              perl - ${{ matrix.go-version }} $HOME/go
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Linting
        if: matrix.full-tests
        run: |
          curl -sL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh |
              sh -s -- -b $HOME/go/bin v1.46.2
          echo $PATH
          $HOME/go/bin/golangci-lint run --max-issues-per-linter 0 \
                                         --max-same-issues 0 \
                                         -E asciicheck \
                                         -E bidichk \
                                         -E durationcheck \
                                         -E exportloopref \
                                         -E gocritic \
                                         -E godot \
                                         -E goimports \
                                         -E misspell \
                                         -E prealloc \
                                         -E revive \
                                         -E unconvert \
                                         -E whitespace \
                                         ./...
      - name: Testing
        continue-on-error: ${{ matrix.go-version == 'tip' }}
        run: |
          go version
          if [ ${{ matrix.full-tests }} = true ]; then
              GO_TEST_FLAGS="-covermode=atomic -coverprofile=coverage.out"
          fi
          go test $GO_TEST_FLAGS ./...
      - name: Reporting
        if: matrix.full-tests
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          go install github.com/mattn/goveralls@v0.0.9
          goveralls -coverprofile=coverage.out -service=github
